{{ form_start(form) }}
    {{ form_row(form.place) }}
    {{ form_row(form.dateTime) }}
    {{ form_row(form.description) }}
    {{ form_row(form.brand_id) }}
    <div class="flex d-flex justify-content-around">
        <button class="btn btn-gold">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
