{% extends 'layout_admin.html.twig' %}

{% block title %}Les Événements{% endblock %}

{% block body %}
    <h1>Les Événements</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Lieu</th>
            <th>Date</th>
            <th>Marque</th>
            <th>Ambassadeur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.place }}</td>
                <td>{{ event.dateTime ? event.dateTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.brand.name }}</td>
                <td><a href="{{ path('user_show', {'id': event.user.id}) }}">{{ event.user.firstname }}</a></td>
                <td>
                    {{ include('event/admin_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun événement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
