{% if is_granted('ROLE_CREATOR') %}

<div class="col-12 mb-5 text-center">
    <a href="{{ path('app_favorite') }}">
        <button type="button" class="btn btn-gold">Vos favoris</button>
    </a>
</div>
    <div class="row mb-5 flex d-flex justify-content-center">
        <div class="cardProfil col-lg-8 col-10">
            <div class="card-body text-center">
                <h2 class="mt-2 text-center">Votre marque</h2>
                {% if user.brand is not null %}
                    <p class="card-title"><strong>Nom de la marque : </strong>{{ user.brand.name }}</p>
                    <p class="card-title"><strong>Histoire de la marque : </strong>{{ user.brand.description }}</p>
                    {% if user.brand.hostAdvantage is not null %}
                        <p class="card-title"><strong>Avantage proposé pour les hôtes
                                : </strong>{{ user.brand.hostAdvantage }}</p>
                    {% endif %}
                    {% if user.brand.sellerAdvantage is not null %}
                        <p class="card-title"><strong>Avantage proposé pour les vendeurs
                                : </strong>{{ user.brand.hostAdvantage }}</p>
                    {% endif %}
                    <p class="card-title"><strong>Votre lien Instagram : </strong>{{ user.brand.instagram }}</p>
                    <p class="card-title"><strong>Lien vers votre site : </strong>{{ user.brand.site }}</p>
                    <div class="col-12 text-center mt-3">
                        <a href="{{ path('brand_edit', {'id': user.brand.id}) }}">
                            <button type="button" class="btn btn-gold">Modifier votre marque</button>
                        </a>
                    </div>
                {% endif %}
                {% if user.brand is null %}
                    <div class="col-12">
                    <p class="card-title">Il n'y a pas de marque existante</p>
                        <a href="{{ path('brand_new', {'userId': user.id}) }}">
                            <button type="button" class="btn btn-gold">Créer ma marque</button>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>

    <div class="col-12 mb-5 text-center">
        <a href="{{ path('gallery_index') }}">
            <button type="button" class="btn btn-gold">Votre galerie</button>
        </a>
    </div>
{% endif %}
