{% if is_granted('ROLE_CREATOR') %}
    <div class="text-center m-3">
        <a href="{{ path('brand_new', {'userId': user.id}) }}">
            <button type="button" class="btn btn-gold">Créer ma marque</button>
        </a>

        <a href="{{ path('app_favorite') }}">
            <button type="button" class="btn btn-gold">Mes favoris</button>
        </a>
    </div>
    {% if user.brand is not null %}
        <div>
            <h2 class="mt-2">Ma marque</h2>
            <div class="row">
                <div class="col-xs-12 col-md-4 event mt-3">
                    <article class="card card-event card-inverse animated fadeInDown">
                        <img class="img-fluid"
                             src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/SYC0YBA37V.jpg"
                             alt="Leaf on the street"/>
                        <div class="card-img-overlay">
                            <a href="{{ path('brand_show', {'id': user.brand.id}) }}">
                                <h4 class="card-title event">{{ user.brand.name }}</h4>
                            </a>
                            <p class="card-text event">
                                - {{ user.brand.description }}</p>
                            <p class="card-text event">Site{{ user.brand.site }}</p>
                            <p class="card-text event">Instagram {{ user.brand.instagram }}</p>
                        </div>
                    </article>
                    <a href="{{ path('brand_edit', {'id': user.brand.id}) }}">
                        <button type="button" class="btn btn-gold">Modifier</button>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
