{% if is_granted('ROLE_CREATOR') %}
    <div class="text-center m-3">
        <a href="{{ path('brand_new', {'userId': user.id}) }}">
            <button type="button" class="btn btn-gold">Créer ma marque</button>
        </a>

        <a href="{{ path('app_favorite') }}">
            <button type="button" class="btn btn-gold">Mes favoris</button>
        </a>
    </div>
    {% if user.brand is not null %}
        <div>
            <h2 class="mt-4 text-center">Ma marque</h2>
            <div class="col-3 text-center mt-4">
                <a href="{{ path('brand_show', {'id': user.brand.id}) }}">
                    {{ user.brand.name }}</a>
            </div>
            <div class="col-3 text-center mt-3">
                <a href="{{ path('brand_edit', {'id': user.brand.id}) }}">
                    <button type="button" class="btn btn-gold">Modifier</button>
                </a>
            </div>
            <div class="col-3 text-center mt-3">
                <a href="{{ path('brand_edit', {'id': user.brand.id}) }}">
                    <button type="button" class="btn btn-gold">Ma gallerie</button>
                </a>
            </div>
        </div>
    {% endif %}
{% endif %}
