{% extends 'layout.html.twig' %}
{% block body %}
    <h1 class="text-center mt-5">Votre profil</h1>

    <div class="container-fluid">
        <div class="row text-center mt-5">
            <div class="cardProfil offset-2 col-lg-8 offset-2">
                <div class="card-body text-left">
                    <img class="avatarProfil rounded-circle"
                         src="{% if user.picture is null %}
                         {{ asset('build/placeholder_profil_grey.png') }}
                      {% else %}
                         {{ vich_uploader_asset(user, 'pictureFile') }}
                      {% endif %}" alt="image de {{ user.firstname }}">
                    <p class="card-title"><strong>Votre prénom : </strong>{{ user.firstname }}</p>
                    <p class="card-title"><strong>Votre lieu : </strong>{{ user.city }}</p>
                    <p class="card-title"><strong>Vos status selectionnés : </strong>{{ user.dutiesToString }}</p>
                    <p class="card-title"><strong>Vos univers selectionnés : </strong>
                        {% for category in user.categories %}
                            {{ category.description }},
                        {% else %}
                            Aucun univers n'a été sélectioné
                        {% endfor %}
                    </p>
                    <p class="card-title"><strong>Votre lien Facebook : </strong>{{ user.urlFacebook }}</p>
                </div>
                <div class="text-left m-3">
                    <a href="{{ path('app_profileEdit') }}">
                        <button type="button" class="btn btn-gold">Modifier votre profil</button>
                    </a>
                </div>
            </div>

        </div>

        {% include 'security/_ambassadorPartProfile.html.twig' %}
        {% include 'security/_creatorPartProfile.html.twig' %}
    </div>
{% endblock %}
