{% block cardAmbassadors %}
    <h2 class="ml-3 mr-3 mb-5 pt-4 pb-5 m-md-5 show homepageTitle"> Nos Ambassadeurs</h2>
    <div class="container-fluid card-ambassador">
        <div class="row no-gutters">
            {#                {% for card in ambassadorCards %}#}
            {#                    <div class="col-10 col-md-4 col-lg-4 col-xl-3 m-5 pt-5">#}
            {#                        <div class="star">#}
            {#                            <a href="{{ path('search_like', {'id' : card.id}) }}" class="btn btn-link js-like">#}
            {#                                <div class="col-md-1 col-sm-12 mt-2">#}
            {#                                    <span class="js-likes">{{ card.followers | length }}</span>#}
            {#                                    {% set class="far" %}#}
            {#                                    {% if app.user %}#}
            {#                                        {% for favorites in app.user.followedUsers %}#}
            {#                                            {% if user == favorites.userFavorite %}#}
            {#                                                {% set class="fas" %}#}
            {#                                            {% endif %}#}
            {#                                        {% endfor %}#}
            {#                                    {% endif %}#}
            {#                                    <i class="{{ class }} fa-star ml-2"></i>#}
            {#                                </div>#}
            {#                            </a>#}
            {#                        </div>#}
            {#                        <div class="cardSearch">#}
            {#                            <div class="card-body text-center">#}
            {#                                <img class="avatarSearch rounded-circle" src="#}
            {#                                        {% if card.picture is null %}#}
            {#                                {{ asset('build/placeholder_profil_grey.png') }}#}
            {#                                {% else %}#}
            {#                                {{ vich_uploader_asset(card, 'pictureFile') }}#}
            {#                                {% endif %}" alt="image de {{ card.firstname }}">#}
            {#                                <h4 class="card-title">{{ card.firstname }}</h4>#}
            {#                                <h6 class="card-subtitle mb-2 mt-3 text-muted"><i#}
            {#                                            class="fas fa-map-marker-alt primary-color"></i> {{ card.city }}</h6>#}
            {#                                <p class="card-text mt-3">{{ card.dutiesToString }}</p>#}

            {#                                <a href="{{ path('user_show', {'id': card.id}) }}" class="btn btn-gold btnCardSearch mt-3">Découvrir</a>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                {% endfor %}#}

            {% for card in ambassadorCards %}
                <div class="col-10 col-md-4 col-lg-4 col-xl-3 m-5 pt-5">
                    <a href="{{ path('user_show', {'id': card.id}) }}">
                        <div class="card-home">
                            <div class="picture">
                                <img class="img-fluid" src="
                                                    {% if card.picture is null %}
                                            {{ asset('build/placeholder_profil_grey.png') }}
                                            {% else %}
                                            {{ vich_uploader_asset(card, 'pictureFile') }}
                                            {% endif %}" alt="image de {{ card.firstname }}">
                            </div>
                            <div class="star">
                                <a href="{{ path('search_like', {'id' : card.id}) }}" class="btn btn-link js-like">
                                    <div class="col-md-1 col-sm-12 mt-2">
                                        <span class="js-likes">{{ card.followers | length }}</span>
                                        {% set class="far" %}
                                        {% if app.user %}
                                            {% for favorites in app.user.followedUsers %}
                                                {% if card == favorites.userFavorite %}
                                                    {% set class="fas" %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        <i class="{{ class }} fa-star ml-2"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="team-content">
                                <h4 class="card-title">{{ card.firstname }}</h4>
                                <h6 class="card-subtitle mb-2 mt-3 text-muted"><i
                                            class="fas fa-map-marker-alt primary-color"></i> {{ card.city }}</h6>
                                <p class="card-text mt-3">{{ card.dutiesToString }}</p>
                            </div>
                            <ul class="social">
                                <li><a href="{{ card.urlFacebook }}" class="icon-facebook"
                                       aria-hidden="true"><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </a>
                </div>
            {% endfor %}


        </div>
    </div>
{% endblock %}
