{% block cardCreators %}
    <h2 class="ml-3 mr-3 mb-5 pt-4 pb-5 m-md-5 show homepageTitle"> Nos Créateurs</h2>
    <div class="container-fluid card-ambassador">
        <div class="row no-gutters">
            {% for keyCreator, creator in creators %}
            <div class="col-10 col-md-4 col-lg-4 col-xl-3 m-5 pt-5">
                <a href="{{ path('user_show', {'id': creator.user.id}) }}">
                    <div class="card-home">
                        <div class="picture">
                            <img class="img-fluid" src="
                                                    {% if creator.user.picture is null %}
                                {{ asset('build/placeholder_profil_grey.png') }}
                                {% else %}
                                {{ vich_uploader_asset(creator, 'pictureFile') }}
                                {% endif %}" alt="image de {{ creator.name }}">
                            <div class="star">
                                <a href="{{ path('search_like', {'id' : creator.user.id}) }}" class="btn btn-link js-like">
                                    <div class="col-md-1 col-sm-12 mt-2">
                                        <span class="js-likes">{{ creator.user.followers | length }}</span>
                                        {% set class="far" %}
                                        {% if app.user %}
                                            {% for favorites in app.user.followedUsers %}
                                                {% if creator == favorites.userFavorite %}
                                                    {% set class="fas" %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        <i class="{{ class }} fa-star ml-2"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="card-infos">
                            <h4 class="card-title">{{ creator.name }}</h4>
                            <p> Mes univers de création :
                                {% for category in creator.user.categories %}
                                    {{ category.description }},
                                {% else %}
                                    Aucun univers n'a été sélectioné
                                {% endfor %}
                            </p>
                            <p>
                                Je recherche :
                                {% for duty in creator.user.duties %}
                                    {{ duty.name }},
                                {% else %}
                                    Les préférences n'ont pas été sélectionées
                                {% endfor %}
                            </p>
                        </div>
                        <ul class="btn-discover">
                            <li><a href="{{ path('user_show', {'id': creator.user.id}) }}">Découvrir</a></li>
                        </ul>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
