{% extends '/layout.html.twig' %}

{% block body %}

    <div class="carousel w-100">
        <div class="carousel-image">
            <img class="w-100 filterImage" src="{{ asset('build/Homepage_AmbassadeurDeCreateurs.jpg') }}"
                 alt="Ambassadeurs de créateurs">
            <div class="carousel-caption">
                <h3 class="d-none d-md-block">REJOIGNEZ NOTRE COMMUNAUTÉ</h3>
                <h3 class="d-none d-md-block">et développez vos ventes privées à domicile</h3>
            </div>
        </div>
    </div>

    {% block map %}
        {% include 'home/_map.html.twig' %}
    {% endblock %}

    {% block search %}
        {% include 'home/_search.html.twig' %}
    {% endblock %}

    <div class="ambassador mt-5 mb-5">
        {% block cardAmbassadors %}
            {% include 'home/_cardAmbassadors.html.twig' %}
        {% endblock %}
        {% block reasonAmbassador %}
            {% include 'home/_reasonAmbassador.html.twig' %}
        {% endblock %}
        {% block cardCreators %}
            {% include 'home/_cardCreators.html.twig' %}
        {% endblock %}
        {% block reasonCreator %}
            {% include 'home/_reasonCreator.html.twig' %}
        {% endblock %}
    </div>
    {% block newsletter %}
        <div class="containerNewsletter row">
            <img class="imgNewsletter col-12" src="{{ asset('build/newsletter_placeholder.jpg') }}"
                 alt="image newsletter">
            <fieldset class="card cardNewsletter col-12">
                <h2 class="text-center p-3">S'inscrire à la Newsletter </h2>
                {{ include('home/_form_newsletter.html.twig') }}
                <div class="w-100">
                    <a class="text-muted font-italic" href="{{ path('home_unsubscribe_newsletter') }}">Se
                        désinscrire</a>
                </div>
            </fieldset>
        </div>
    {% endblock %}


{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('map') }}
        {{ encore_entry_script_tags('favorite') }}
    {% endblock %}
