{% extends 'layout_admin.html.twig' %}

{% block title %}Admin FAQ{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center m-5">Les Questions</h1>
        <a href="{{ path('admin_question_new') }}" class="btn btn-gold mb-5">
            Créer une question
        </a>
        <table class="table">
            <thead>
            <tr>
                <th class="thWidth">Question</th>
                <th>Catégorie</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for question in questions %}
                <tr>
                    <td><a href="{{ path('admin_question_show', {'id': question.id}) }}" class="titleForm">{{ question.question }}</a></td>
                    <td>{{ question.category.category }}</td>
                    <td>
                        <a href="{{ path('admin_question_edit', {'id': question.id}) }}" class="">
                            <button class="btn btn-gold"><i class="fas fa-pencil-alt mr-2"></i>Modifier</button>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune question trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
