{% extends 'layout_admin.html.twig' %}

{% block title %}Admin marque{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="text-center m-5">Les marques</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Créateur</th>
                <th>Evènement</th>
                <th>Mise en avant</th>
                <th>Abonnement</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for keys, brand in brands %}
                <tr>
                    <td> {{ brand.name }}</td>
                    <td>{{ brand.user.lastname }} {{ brand.user.firstname }}</td>
                    <td>{% for event in brand.sponsoredEvents %}
                    <p>
                        <a href="{{ path('admin_event_show', {'id': event.id}) }}">{{ event.dateTime ? event.dateTime|localizeddate('short', 'none') }}</a>
                    </p>
                    {% endfor %}
                    <td>
                        {{ form_start(formsChosenCreators[keys], { 'attr' :{'class' : 'form'}}) }}
                        <div class="onoffswitch">
                        {{ form_row(formsChosenCreators[keys].chosenCreator, { 'attr' :
                            {'class' : 'onoffswitch-checkbox',},
                            'label_attr' : {'class' : 'onoffswitch-label'
                            },
                        }) }}
                        </div>
                        {{ form_end(formsChosenCreators[keys]) }}
                    </td>
                    <td>
                        {{ form_start(formsHasSubscribes[keys], { 'attr' :{'class' : 'form'}}) }}
                        <div class="onoffswitch">
                            {{ form_row(formsHasSubscribes[keys].hasSubscribe, { 'attr' :
                                {'class' : 'onoffswitch-checkbox',},
                                'label_attr' : {'class' : 'onoffswitch-label'},
                            }) }}
                        </div>
                        {{ form_end(formsHasSubscribes[keys]) }}
                    </td>
                    <td class="">
                        {{ include('brand/admin_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Pas de marque trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adminforms') }}
{% endblock %}
