{% extends 'layout.html.twig' %}

{% block title %}{{ brand.user.firstname }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="text-center">Marque</h1>
        <table class="table m-5 p-5">
            <tbody>
            <tr>
                <th>Marque</th>
                <td>{{ brand.name }}</td>
            </tr>
            <tr>
                <th>Créateur</th>
                <td>{{ brand.user.firstname }} {{ brand.user.lastname }}</td>
            </tr>
            <tr>
                <th>Évènement</th>
                <td>{% for event in brand.sponsoredEvents %}
                        <p>
                            <a href="{{ path('admin_event_show', {'id': event.id}) }}" class="dateAdmin">{{ event.dateTime ? event.dateTime|localizeddate('short', 'none') }}</a>
                        </p>
                    {% endfor %}
                </td>
            </tr>

            </tbody>
        </table>
            <a href="{{ path('brand_index') }}" class="btn btn-gold">Retour</a>

            {{ include('brand/admin_delete_form.html.twig') }}
    </div>
{% endblock %}
