<nav class="mb-1 navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand mr-5" href="/"><img src="{{ asset('build/ADC_logo_transparent.png') }}" alt="logo" height="80"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
            aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent-555">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link mr-5" href="{{ path('search_role', {'role': 'ambassadeur'}) }}"><span class="nav-effect">AMBASSADEURS</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-5" href="{{ path('search_role', {'role': 'createur'}) }}"><span class="nav-effect">CREATEURS</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-5" href="{{ path('blog_index') }}"><span class="nav-effect">NEWS</span></a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link mr-5" href="{{ path('app_profile') }}"><span class="nav-effect">PROFIL</span></a>
                </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link mr-5" href="{{ path('user_new') }}"><span class="nav-effect">S'INSCRIRE</span></a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item avatar">
                {% if app.user %}
                <a class="nav-link" href="{{ path('app_logout') }}"><span class="nav-effect">DÉCONNEXION</span>
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar.jpg" class="rounded-circle z-depth-0"
                         alt="avatar image" height="50">
                </a>
                {% else %}
                <a class="nav-link" href="{{ path('app_login') }}"><span class="nav-effect">CONNEXION</span>
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar.jpg" class="rounded-circle z-depth-0"
                         alt="avatar image" height="50">
                </a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
