<nav class="mb-1 navbar navbar-expand-lg navbar-light">
    <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item avatar">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar.jpg" class="rounded-circle z-depth-0"
                                              alt="avatar image" height="50">
            <p>ADMIN</p>
        </li>
    </ul>

    <div class="collapse navbar-collapse " id="navbarSupportedContent-555">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link ml-2" href="{{ path('admin_user_index') }}"><span class="nav-effect">UTILISATEURS</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-2" href="{{ path('admin_category_index') }}"><span class="nav-effect">UNIVERS</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-2" href="{{ path('admin_blog_index') }}"><span class="nav-effect">BLOG</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-2" href="#"><span class="nav-effect">EVENEMENTS</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-2" href="#"><span class="nav-effect">ABONNEMENTS</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-2" href="{{ path('home_index') }}"><span class="nav-effect">ACCES AU SITE</span></a>
            </li>
        </ul>
        <a class="navbar-brand ml-2" href="{{ path('admin_index') }}"><img src="{{ asset('build/ADC_logo_transparent.png') }}" alt="logo" height="80"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
                aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
