{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center m-5">{{ category.description }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Description</th>
                <td class="text-center">{{ category.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('category_index') }}" class="btn btn-gold">Retour</a>

    <a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-gold">Modifier</a>

    {{ include('category/_delete_form.html.twig') }}
</div>
{% endblock %}
