{{ form_start(form, {'action': path('search_role', {'role': role})}) }}
<div class="row justify-content-center">
    <div class="col-md-3 col-11 select-element">
        {{ form_row(form.department, {'attr': {'class': 'form-search'}}) }}
    </div>
    <div class="col-md-3 col-11">
        {{ form_row(form.category, {'attr': {'class': 'form-search'}}) }}
    </div>
    <div class="col-md-3 col-11">
        {{ form_row(form.duty, {'attr': {'class': 'form-search'}}) }}
    </div>
    <button type="submit" class="btn btn-gold mb-5 ml-3 btnCardSearch">Filtrer</button>
</div>
{{ form_end(form) }}
