{{ form_start(form, {'action': path('search_role', {'role': role})}) }}
<div class="row justify-content-center">
    <div class="col-md-3 col-11 select-element">
        {{ form_row(form.department) }}
    </div>
    <div class="col-md-3 col-11">
        {{ form_row(form.category) }}
    </div>
    <div class="col-md-3 col-11">
        {{ form_row(form.duty) }}
    </div>
    <button type="submit" class="btn btn-gold mb-5 ml-3">Filtrer</button>
</div>
{{ form_end(form) }}
