{% extends 'layout.html.twig' %}

{% block title %}Recherche des {{ role }}s{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="boxSearch bg-white">
            <h1 class="text-center mt-5"> Recherche des {{ role }}s </h1>
            {% include 'search/_filter.html.twig' with {form: form} %}
            <p class="text-center mb-5">Nombre de résultats : {{ nbUsers }}</p>
        </div>
    </div>

    <div class="row justify-content-center mt-5">

        {% for user in users %}
            <div class="col-10 col-md-4 col-lg-3 col-xl-2 m-5 p-0">
                <div class="star">
                    <a href="{{ path('search_like', {'id' : user.id}) }}" class="btn btn-link js-like">
                        <div class="col-md-1 col-sm-12 mt-2">
                            <span class="js-likes">{{ user.followers | length }}</span>
                            {% set class="far" %}
                            {% if app.user %}
                                {% for favorites in app.user.followedUsers %}
                                    {% if user == favorites.userFavorite %}
                                        {% set class="fas" %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <i class="{{ class }} fa-star ml-2"></i>
                        </div>
                    </a>
                </div>
                <div class="cardSearch">
                    <div class="card-body text-center">
                        <img class="avatarSearch rounded-circle" src="
                                        {% if user.picture is null %}
                                {{ asset('build/placeholder_profil_grey.png') }}
                                {% else %}
                                {{ vich_uploader_asset(user, 'pictureFile') }}
                                {% endif %}" alt="image de {{ user.firstname }}">
                        <h4 class="card-title">{{ user.firstname }}</h4>
                        <h6 class="card-subtitle mb-2 mt-3 text-muted"><i
                                    class="fas fa-map-marker-alt primary-color"></i> {{ user.city }}</h6>
                        <p class="card-text mt-3">{{ user.dutiesToString }}</p>

                        <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-gold btnCardSearch mt-3">Découvrir</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="text-center">
        <p class="m-3">Page : {{ page }}</p>
    </div>
    <div class="text-center">
        {% if page >= 2 %}
            <a class="btn btn-gold mx-5 mb-5"
               href="{{ path('search_role', {'role': role, 'page': page-1}|merge(app.request.query.all)) }}">
                <i class="far fa-arrow-alt-circle-left"></i> Précédent
            </a>
        {% else %}
            <a class="btn btn-inactive mx-5 mb-5">
                <i class="far fa-arrow-alt-circle-left"></i> Précédent
            </a>
        {% endif %}
        {% if page < nbPages %}
            <a class="btn btn-gold mx-5 mb-5"
               href="{{ path('search_role', {'role': role, 'page': page+1}|merge(app.request.query.all)) }}">
                Suivant <i class="far fa-arrow-alt-circle-right"></i>
            </a>
        {% else %}
            <a class="btn btn-inactive mx-5 mb-5">
                Suivant <i class="far fa-arrow-alt-circle-right"></i>
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('favorite') }}
{% endblock %}
