{% extends 'layout.html.twig' %}

{% block title %}Recherche des {{ role }}s{% endblock %}

{% block body %}
    <div class="row justify-content-center mx-0">
        <div class="w-100 bg-white">
            <h1 class="text-center mt-5">{% if role == 'ambassadeur' %}
                    Recherche d'ambassadeurs
                {% else %}
                    Recherche de créateurs
                {% endif %}</h1>
            {% include 'search/_filter.html.twig' with {form: form} %}
            <p class="text-center mb-5">Nombre de résultats : {{ nbUsers }}</p>
        </div>
    </div>

    <div class="container-fluid card-ambassador">
        <div class="row no-gutters">

            {% for user in users %}
                <div class="col-lg-2 col-md-4 col-sm-6 col-10 m-5 pt-5">

                    <div class="card-search">
                        <div class="picture">
                            <img class="img-fluid" src="
                                {% if user.picture is null %}
                                {{ asset('build/placeholder_profil_grey.png') }}
                                {% else %}
                                {{ vich_uploader_asset(user, 'pictureFile') }}
                                {% endif %}" alt="image de {{ user.firstname }}">
                            <div class="star">
                                <a href="{{ path('search_like', {'id' : user.id}) }}" class="btn btn-link js-like">
                                    <div class="col-md-1 col-sm-12 mt-2">
                                        <span class="js-likes">{{ user.followers | length }}</span>
                                        {% set class="far" %}
                                        {% if app.user %}
                                            {% for favorites in app.user.followedUsers %}
                                                {% if user == favorites.userFavorite %}
                                                    {% set class="fas" %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        <i class="{{ class }} fa-star ml-2"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="card-infos">
                            <a href="{{ path('user_show', {'id': user.id}) }}">
                                <h4 class="card-title">{% if role == 'createur' %}
                                        {{ user.brand.name }}
                                    {% else %}
                                        {{ user.firstname }}
                                    {% endif %}</h4>
                                <h6 class="card-subtitle mb-2 mt-3 text-muted"><i
                                            class="fas fa-map-marker-alt primary-color"></i> {{ user.city }}</h6>
                                <p class="card-text mt-3">{{ user.dutiesToString }}</p>
                            </a>
                        </div>
                        <ul class="btn-discover">
                            <li><a href="{{ path('user_show', {'id': user.id}) }}">Découvrir</a></li>
                        </ul>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
    <div class="text-center">
        <p class="m-3">Page : {{ page }}</p>
    </div>
    <div class="text-center">
        {% if page >= 2 %}
            <a class="btn btn-gold mx-5 mb-5"
               href="{{ path('search_role', {'role': role, 'page': page-1}|merge(app.request.query.all)) }}">
                <i class="far fa-arrow-alt-circle-left"></i> Précédent
            </a>
        {% else %}
            <a class="btn btn-inactive mx-5 mb-5">
                <i class="far fa-arrow-alt-circle-left"></i> Précédent
            </a>
        {% endif %}
        {% if page < nbPages %}
            <a class="btn btn-gold mx-5 mb-5"
               href="{{ path('search_role', {'role': role, 'page': page+1}|merge(app.request.query.all)) }}">
                Suivant <i class="far fa-arrow-alt-circle-right"></i>
            </a>
        {% else %}
            <a class="btn btn-inactive mx-5 mb-5">
                Suivant <i class="far fa-arrow-alt-circle-right"></i>
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('favorite') }}
{% endblock %}
