{% extends 'layout.html.twig' %}

{% block title %}Ma galerie{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Ma galerie</h1>

    <div class="container-fluid">
        <div class="row">
            {% for gallery in galleries %}
                <div class="col-md-12 col-lg-6 col-xl-3 mb-3 flex d-flex flex-column justify-content-center">
                    <div class=" flex d-flex justify-content-center">
                        {{ include('gallery/_delete_aria_form.html.twig') }}
                        <img class="galleryImg"
                         src="
                            {% if gallery.photoName is null %}
                            {{ asset('build/blog_placeholder.png') }}
                            {% else %}
                            {{ vich_uploader_asset(gallery, 'photoFile') }}
                            {% endif %}"
                         alt="Photo de {{ gallery.galleryOWner.name }}">
                    </div>
                    {{ include('gallery/_delete_form.html.twig') }}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="mt-5 container-xl container-lg container-fluid">
        <h2 class="text-center mt-3 mb-4">Ajouter une image</h2>
        <div class="border-gold p-4">
            {{ include('gallery/_form.html.twig') }}
        </div>
    </div>
        <div class="col col-lg-4">
            <a class="btn btn-dark m-5" href="{{ path('app_profile') }}">
                <i class="far fa-arrow-alt-circle-left"></i> Retour
            </a>
        </div>


{% endblock %}
