{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.articleTag) }}
    {{ form_row(form.content) }}
    {{ form_row(form.author) }}
    {{ form_row(form.date) }}

<div class="flex d-flex justify-content-around">
    <button class="btn btn-gold">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
