{% extends 'layout_admin.html.twig' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center m-5">{{ blog.title }}</h1>

        <table class="table w-100">
            <tbody>
            <tr>
                <th>Titre</th>
                <td class="text-center">{{ blog.title }}</td>
            </tr>
            <tr>
                <th>Étiquette</th>
                <td class="text-center">{{ blog.articleTag.tag }}</td>
            </tr>
            <tr class="w-100">
                <th>Image</th>
                <td><img class="imgAdminBlog w-100" src="{{ vich_uploader_asset(blog, 'imageFile') }}" alt="{{ blog.title }}"></td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ blog.content|raw }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td class="text-center">{{ blog.author }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td class="text-center">{{ blog.date ? blog.date|localizeddate('long', 'short') }}</td>
            </tr>

            </tbody>
        </table>
        <div class="row justify-content-between">
            <div class="col col-lg-4">
                <a class="btn btn-dark m-5" href="{{ path('admin_blog_index') }}">
                    <i class="far fa-arrow-alt-circle-left"></i> Liste des news
                </a>
            </div>
            <div class="col col-lg-4">
                <a class="btn btn-dark m-5" href="{{ path('admin_blog_edit', {'slug': blog.slug}) }}">
                    <i class="fas fa-pencil-alt"></i> Modifier
                </a>
            </div>
        </div>
    </div>
{% endblock %}
