{% extends 'layout.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <div class="container-fluid pt-1 mb-5">
        <h1 class="text-center m-5 adobe">Les news</h1>
        <p class="text-center m-5 firstSentence montserrat">Rencontres, news, outils, tout ce dont vous avez besoin pour vous
            lancer dans la vente privée à domicile ...</p>
        <div class="row justify-content-center m-0">
            {% for article in articles %}
                {% if loop.first and page == 1 %}
                    <h2 class="col offset-1 oneArticle adobe">À la une</h2>
                    <div class="row justify-content-center">
                        <div class="col-md-5 card-img-block">
                            <div class="card-img-block-top">
                                <img class="card-img-top firstimage"
                                     src="
                                        {% if article.image is null %}
                                        {{ asset('build/blog_placeholder.png') }}
                                        {% else %}
                                        {{ vich_uploader_asset(article, 'imageFile') }}
                                        {% endif %}"
                                     alt="image de l'article {{ article.title }}">
                            </div>
                        </div>
                        <div class="col-md-5 card profile-card-5 firstblog">
                            <div class="card-body">
                                <p class=" text-left my-4 textdate">
                                    {{ article.date|localizeddate('short', 'none') }} -
                                    <span class="badge badge-pill badge-gold">{{ article.articleTag.tag }}</span>
                                </p>
                                <h3 class="card-title firstArticleTitle mt-3 adobe">{{ article.title }}</h3>
                                <p class="textFirstArticle mt-4 montserrat">{{ article.content|truncate(200,true)|raw }}</p>
                                <a href="{{ path('blog_show', {'slug': article.slug}) }}" class="btn btn-gold mt-5">Voir l'article</a>
                            </div>
                        </div>
                        <h2 class="col offset-2 mb-5">Nos articles</h2>
                    </div>

                {% else %}
                    <div class="col-md-4 m-4 mb-5">
                        <div class="card-img-block">
                            <img class="card-img-top bodyimage"
                                 src="
                                    {% if article.image is null %}
                                    {{ asset('build/blog_placeholder.png') }}
                                    {% else %}
                                    {{ vich_uploader_asset(article, 'imageFile') }}
                                    {% endif %}"
                                 alt="image de l'article {{ article.title }}">
                        </div>
                        <div class="card profile-card-5 card-block">
                            <div class="card-body">
                                <p class=" text-left mt-3 textdate">
                                    {{ article.date|localizeddate('short', 'none') }} -
                                    <span class="badge badge-pill badge-gold">{{ article.articleTag.tag }}</span>
                                </p>
                                <h5 class="card-title">{{ article.title }}</h5>
                                <p class="">{{ article.content|truncate(150,true)|raw }}</p>
                                <a href="{{ path('blog_show', {'slug': article.slug}) }}" class="btn btn-gold">Voir l'article</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="text-center">
            <p class="m-3">Page : {{ page }}</p>
        </div>
        <div class="text-center">
            {% if page >= 2 %}
                <a class="btn btn-gold mx-5 mb-5" href="{{ path('blog_index', {'page': page-1})}}">
                    <i class="far fa-arrow-alt-circle-left"></i> Précédent
                </a>
            {% else %}
                <a class="btn btn-inactive mx-5 mb-5">
                    <i class="far fa-arrow-alt-circle-left"></i> Précédent
                </a>
            {% endif %}

            {% if page < nbPages %}
                <a class="btn btn-gold mx-5 mb-5" href="{{ path('blog_index', {'page': page+1})}}">
                    Suivant <i class="far fa-arrow-alt-circle-right"></i>
                </a>
            {% else %}
                <a class="btn btn-inactive mx-5 mb-5">
                    Suivant <i class="far fa-arrow-alt-circle-right"></i>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
