{% extends 'base.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block body %}
    <h1>Blog index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Author</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blog in blogs %}
            <tr>
                <td>{{ blog.id }}</td>
                <td>{{ blog.name }}</td>
                <td>{{ blog.author }}</td>
                <td>{{ blog.date ? blog.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('blog_show', {'id': blog.id}) }}">show</a>
                    <a href="{{ path('blog_edit', {'id': blog.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('blog_new') }}">Create new</a>
{% endblock %}
