{% extends 'layout.html.twig' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block body %}
    <div class="container pt-1 my-5">
        <img class="card-img-top" src="{{ vich_uploader_asset(blog, 'imageFile') }}" alt="image de l'article {{ blog.title }}">
        <h1 class="text-center m-5">{{ blog.title }}</h1>
        <p class=" text-center mt-3 textdate">
            {{ blog.date|localizeddate('short', 'none') }} -
            <span class="badge badge-pill badge-gold">{{ blog.articleTag.tag }}</span>
        </p>
        <p class="mt-5 text-center">{{ blog.content }}</p>

    </div>
{% endblock %}
