{% extends 'base.html.twig' %}

{% block title %}Subscription{% endblock %}

{% block body %}
    <h1>Subscription</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ subscription.id }}</td>
            </tr>
            <tr>
                <th>OneMonth</th>
                <td>{{ subscription.oneMonth }}</td>
            </tr>
            <tr>
                <th>SixMonth</th>
                <td>{{ subscription.sixMonth }}</td>
            </tr>
            <tr>
                <th>OneYear</th>
                <td>{{ subscription.oneYear }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('subscription_index') }}">back to list</a>

    <a href="{{ path('subscription_edit', {'id': subscription.id}) }}">edit</a>

    {{ include('subscription/_delete_form.html.twig') }}
{% endblock %}
