{% extends 'layout_errors.html.twig' %}

{% block title %}
    Erreur {{ status_code }}
{% endblock %}

{% block body %}
    <div class="container-fluid error-section pt-1 mb-5">
        <h1 class="text-center m-5">Erreur {{ status_code }} - {{ status_text }}</h1>
        <div class="picture-error d-flex justify-content-center mt-5">
            <img class="error" src="{{ asset('build/error500.png') }}" alt="error-500">
        </div>
        <h2 class="text-center m-5">Impossible d'afficher la page</h2>
        <div class="col-md-12 col-sm-12 mt-5 mb-5">
            <p class="text-center">Merci de réessayer plus tard.</p>
            <div class="back-to-home d-flex justify-content-center mt-5">
                <a class="btn btn-gold mb-4" href="{{ path('home_index') }}">Revenir à la page d'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}
