{{ form_start(form) }}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.mail) }}
    {{ form_row(form.city) }}
    {{ form_row(form.role) }}
    {{ form_row(form.password) }}
    {{ form_row(form.mentions) }}


    <div class="d-flex justify-content-center">
        <button class="btn btn-gold">{{ button_label|default('Enregistrer') }}</button>
    </div>

