{{ form_start(form) }}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
    {{ form_widget(form) }}
    <div class="flex d-flex justify-content-around">
        <a class="btn btn-gold" href="{{ path('user_index') }}">Liste des utilisateurs</a>
        <button class="btn btn-gold">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
