{% extends 'layout_admin.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="text-center m-5">Liste des utilisateurs</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Évènement</th>
                <th>Rôle</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.mail }}</td>
                    <td>{% for event in user.events %}
                            <p>
                                <a href="{{ path('admin_event_show', {'id': event.id}) }}" class="dateAdmin">{{ event.dateTime ? event.dateTime|localizeddate('short', 'none') }}</a>
                            </p>
                        {% endfor %}
                    <td>{{ user.roleLabel }}</td>
                    <td>
                        <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-gold mb-1"><i
                                    class="far fa-eye mr-2"></i>Aperçu</a>
                        {{ include('user/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
