{% extends 'layout_admin.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Image</th>
                <th>Ville</th>
                <th>Email</th>
                <th>Role</th>
                <th>Préférences</th>
                <th>Departement</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.picture }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.mail }}</td>
                <td>{{ user.roleLabel }}</td>
                <td>
                    {% for duty in user.duties %}
                        {{ duty.name }}
                    {% endfor %}
                </td>
                <td>
                    {% if user.department.codeName is defined %}
                    {{ user.department.codeName }}
                    {% endif %}
                </td>
                <td>
                    {% if user.description is defined %}
                    {{ user.description }}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-gold mb-1"><i class="far fa-eye mr-2"></i>Voir</a>
                        {{ include('user/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}" class="btn btn-gold">Créer un utilisateur</a>
{% endblock %}
