{% extends 'layout.html.twig' %}

{% block title %}{{ user.firstname }}{% endblock %}

{% block body %}

    <div class="container-fluid mt-5">
        <div class="text-center">
            <img class="rounded-circle img-profil"
                 src="
                {% if user.picture is null %}
                {{ asset('build/placeholder_profil_grey.png') }}
                {% else %}
                {{ vich_uploader_asset(user, 'pictureFile') }}
                {% endif %}"
                 alt="{{ user.firstname }}">
            <h2 class="text-center mt-3">{{ user.firstname }}</h2>
        </div>
        <div class="d-flex justify-content-center">
            <p class="m-0"><i class="fas fa-map-marker-alt primary-color mr-3"></i>{{ user.city }}</p>
        </div>
        <div class="star justify-content-center mb-3">
            <a href="{{ path('search_like', {'id' : user.id}) }}" class="btn btn-link js-like mb-3">
                <div class="col-md-1 col-sm-12 mt-2">
                    <span class="js-likes">{{ user.followers | length }}</span>
                    {% set class="far" %}
                    {% if app.user %}
                        {% for favorites in app.user.followedUsers %}
                            {% if user == favorites.userFavorite %}
                                {% set class="fas" %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <i class="{{ class }} fa-star ml-2"></i>
                </div>
            </a>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <p><i class="fas fa-heart mr-3"></i> Mes univers sont :
                {% if user.categories is not empty %}
                    <em>{{ user.categoriesToString }}</em>
                {% else %}
                    <em>Aucun univers n'a été sélectioné</em>
                {% endif %}
            </p>
        </div>
        <div class="d-flex justify-content-center">
            <p class="text-center"><i class="fas fa-donate mr-3 mb-2"></i> Je recherche : <em>{{ user.dutiesToString }}.</em></p>
        </div>
        <div class="text-center m-2">
            {% if user.roleLabel == 'Créateur' and app.user.brand.hasSubscribe == true %}
                <a href="mailto:{{ user.mail }}">
                    <button type="button" class="btn btn-gold">Contacter cet Ambassadeur</button>
                </a>
            {% else %}
                <a class="btn btn-inactive mb-3">Contacter cet Ambassadeur</a>
                <p><em>Vous devez être abonné pour contacter cet ambassadeur.</em></p>
            {% endif %}
        </div>
        {% if events is not empty %}
            <div class="row mb-5 flex d-flex justify-content-center">
                <div class="cardProfil col-lg-8 col-10">
                    <div class="card-body text-center">
                        <h2 class="mt-2 text-center">Les prochaines ventes privées :</h2>
                        {% for event in events %}
                            <div class="d-inline-flex m-3">
                                <div class="col-sm-12 text-center mt-4 border-bottom m-2">
                                    <p>
                                        <i class="fas fa-map-marker-alt primary-color"></i>
                                        {{ event.place }}
                                    </p>
                                    <p>
                                        <i class="fas fa-calendar-week primary-color "></i>
                                        {{ event.dateTime|date('d/m/Y à H:i') }}.
                                    </p>
                                    <p>
                                        <i class="fas fa-award primary-color"></i>
                                        {{ event.brand.name }}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% else %}
            <p class="font-italic text-center m-5">Cet ambassadeur n'a pas de vente actuellement.</p>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('favorite') }}
{% endblock %}
