{% extends 'layout.html.twig' %}

{% block title %}{{ user.brand.name }}{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col-lg-4  p-5">
                <div class="flex d-flex flex-column align-items-center leftPanel">
                    <h1 class="text-center m-2 mb-4">{{ user.brand.name }}</h1>
                    <img class="rounded-circle img-profil-creator align-self-center"
                         src="
                        {% if user.picture is null %}
                        {{ asset('build/placeholder_profil_grey.png') }}
                        {% else %}
                        {{ vich_uploader_asset(user, 'pictureFile') }}
                        {% endif %}"
                         alt="{{ user.brand.name }}">
                    <div class="flex d-flex justify-content-center w-75 mt-3 mb-3">
                        <div class="star justify-content-center h-100">
                            <a href="{{ path('search_like', {'id' : user.id}) }}" class="btn btn-link js-like p-0">
                                <div class="col-md-1 col-sm-12 mt-2">
                                    <span class="js-likes">{{ user.followers | length }}</span>
                                    {% set class="far" %}
                                    {% if app.user %}
                                        {% for favorites in app.user.followedUsers %}
                                            {% if user == favorites.userFavorite %}
                                                {% set class="fas" %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <i class="{{ class }} fa-star ml-2"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <ul class="p-0 m-0 w-75 flex d-flex justify-content-around">
                        <li class="list-inline-item">
                            <a class="profilIcon" href="{{ user.urlFacebook}}" target="_blank">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="profilIcon" href="{{ user.brand.site}}" target="_blank">
                                <i class="far fa-user"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="profilIcon" href="{{ user.brand.instagram}}" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>

                    <div class="m-3 historyDiv ">
                        {% if user.brand.hostAdvantage is not null %}
                            <h4 class="pt-3 pl-3 pr-3 m-0"> Nous offrons aux hôtes ces avantages : </h4>
                            <p class="pb-3 pl-3 pr-3 m-0">{{ user.brand.hostAdvantage }}</p>
                        {% endif %}
                        {% if user.brand.sellerAdvantage is not null %}
                            <h4 class="pt-3 pl-3 pr-3 m-0"> Nous offrons aux vendeurs ces avantages : </h4>
                            <p class="pb-3 pl-3 pr-3 m-0">{{ user.brand.sellerAdvantage }}</p>
                        {% endif %}
                    </div>
                    <a class="mt-3 mb-3" href="mailto:{{ user.mail }}">
                        <button type="button" class="btn btn-gold">Contacter ce créateur</button>
                    </a>
                </div>
            </div>

            <div class="col-lg-8 flex d-flex flex-column">
                <div class="m-5 p-3 historyDiv">
                    <h2 class="mt-2 text-center">Mon histoire</h2>
                    <div class="brandDescription">
                        {{ user.brand.description }}
                    </div>
                    <div class="brandDescription">
                        {{ user.brand.sellDescription }}
                    </div>
                </div>

                <div class="carouselDiv align-self-center ml-lg-5 mr-lg-5">
                    <h2 class="text-center">Mes produits</h2>
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <ol class="carousel-indicators">
                                {% for i in 0..user.brand.galleries|length-1 %}
                                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ i }}" class="{% if loop.index == 1 %} active {% endif %}"></li>
                                {% endfor %}
                            </ol>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <div class="carousel-inner">
                            {% for gallery in user.brand.galleries %}
                            <div class="w-100 carousel-item {% if loop.index == 1 %} active {% endif %}">
                                <div class="flex d-flex justify-content-center w-100">
                                    <img class="d-block w-100" src="{{ vich_uploader_asset(gallery, 'photoFile') }}" alt="{{ user.brand.name }}">
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('favorite') }}
{% endblock %}
