{% extends 'layout.html.twig' %}

{% block title %}{{ user.roles }}{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">{{ user.roles }}</h1>

    <div class="container-fluid">
        <div class="row text-center mt-5">
            <div class="offset-1 col-4 mt-5">
                <div class="pictureProfil">
                    <img class="rounded-circle" src="{{ user.picture }}" alt="{{ user.firstname }}">
                </div>
                <br>
                <h3 class="nameProfil">
                    {{ user.firstname }}
                </h3>
                <br>
            </div>
            <div class="descriptionBloc col-4 offset-2 text-justify m-4 p-5 align-self-center ">
                <p>J'habite à {{ user.city }}.</p>
                <p>Les univers que j'aime sont : </p>
                <p>Je suis intéressé par le status de : </p>
            </div>
        </div>

        <div class="text-center mt-5">
            <button type="button" class="btn btn-gold">Me contacter</button>
        </div>UN
        <div class="row">
        {% for event in events %}
            <div class="col-xs-12 col-md-4">
                <article class="card card-inverse animated fadeInDown">
                    <img class="img-responsive" src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/SYC0YBA37V.jpg" alt="Leaf on the street" />
                    <div class="card-img-overlay">
                        <h4 class="card-title">{{ event.place }}</h4>
                        <h6 class="text-muted">{{ event.dateTime|date('Y-m-d H:i:s') }} - {{ event.user.firstname }}</h6>
                        <p class="card-text">{{ event.description }}</p>
                    </div>
                </article>
            </div>
        {% endfor %}
            </div>
    </div>
{% endblock %}
