{% extends 'layout.html.twig' %}

{% block title %}{{ user.firstname }}{% endblock %}

{% block body %}

    <div class="container-fluid mt-5">
        <div class="text-center">
            <img class="rounded-circle img-profil"
              src="
                {% if user.picture is null %}
                {{ asset('build/placeholder_profil_grey.png') }}
                {% else %}
                {{ vich_uploader_asset(user, 'pictureFile') }}
                {% endif %}"
              alt="{{ user.firstname }}">
            <h2 class="text-center mt-3">{{ user.firstname }}</h2>
        </div>
        <div class="d-flex justify-content-center">
            <p class="m-0"><i class="fas fa-map-marker-alt primary-color mr-3"></i>{{ user.city }}</p>
        </div>
        <div class="star justify-content-center">
            <a href="{{ path('search_like', {'id' : user.id}) }}" class="btn btn-link js-like">
                <div class="col-md-1 col-sm-12 mt-2">
                    <span class="js-likes">{{ user.followers | length }}</span>
                    {% set class="far" %}
                    {% if app.user %}
                        {% for favorites in app.user.followedUsers %}
                            {% if user == favorites.userFavorite %}
                                {% set class="fas" %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <i class="{{ class }} fa-star ml-2"></i>
                </div>
            </a>
        </div>
        <div class="text-center mt-4">
        <a href="mailto:{{ user.mail }}">
            <button type="button" class="btn btn-gold">Contacter cet Ambassadeur</button>
             </a>
        </div>

        <div class="row m-5">
            <div class="col-lg-5 pl-5">
                <h2 class="mb-5">Mes informations</h2>
                <p><i class="fas fa-heart mr-3"></i> Les univers que je préfère :
                    {% for category in user.categories %}
                        {{ category.description }},
                    {% else %}
                        Aucun univers n'a été sélectioné
                    {% endfor %}
                </p>
                <p><i class="fas fa-donate mr-3"></i> Je suis intéressé par le status de {{ user.dutiesToString }}</p>
            </div>
            <div class="col-lg-5 offset-1">
                <h2 class="mt-2">Mes produits</h2>
                <div class="row">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for i in 0..user.brand.galleries|length-1 %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ i }}" class="{% if loop.index == 1 %} active {% endif %}"></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for gallery in user.brand.galleries %}
                            <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
                                <div class="flex d-flex justify-content-center w-100">
                                    <img class="d-block w-100" src="{{ vich_uploader_asset(gallery, 'photoFile') }}" alt="{{ user.brand.name }}">
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('favorite') }}
{% endblock %}
